:root {
  --backgroundColor: #121212;
  --textColor: #ffffff;
  --yellow: #fff35c;
  --red: #ff6666;
  --purple: #9933ff;
  --blue: #00ccff;
  --green: #00ff99;
  --gray: #bdbdbd;
}
/* ------ General ------ */
html {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* ------ Header ------ */
.header {
  position: sticky;
  top: 0;
  padding: 2.4rem 1.2rem 1.2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.6rem;
  z-index: 10;
  background-color: var(--backgroundColor);
}
.header--scrolling::after {
  --height: 3.2rem;
  content: "";
  width: 100%;
  height: var(--height);
  position: absolute;
  bottom: calc(var(--height) * (-1));
  background: linear-gradient(to top, transparent, var(--backgroundColor));
}
.header__title {
  font-size: 3.6rem;
}
.header__bars:first-child {
  display: none;
}
.header__bars {
  display: flex;
}
.header__bar {
  flex: 1;
  background-color: red;
  height: 1rem;
  animation: barAnimation 1s ease-in-out infinite;
}

.bar--yellow {
  background-color: var(--yellow);
}
.bar--red {
  background-color: var(--red);
  animation-delay: 0.1s;
}
.bar--purple {
  background-color: var(--purple);
  animation-delay: 0.2s;
}
.bar--blue {
  background-color: var(--blue);
  animation-delay: 0.3s;
}
.bar--green {
  background-color: var(--green);
  animation-delay: 0.4s;
}

@keyframes barAnimation {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(0.5);
  }
}
@media (prefers-reduced-motion) {
  @keyframes barAnimation {
    0% {
      transform: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 1fr auto 1fr;
    gap: 2.4rem 5.4rem;
  }
  .header__title {
    font-size: 6.4rem;
  }
  .header__bars:first-child {
    display: flex;
  }
  .header__bar {
    height: 1.8rem;
  }
}
/* ------ Form Search GIFs ------ */
#formQuery {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr auto;
}
.form__input {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-width: 0.1rem 0 0.1rem 0.1rem;
  border-style: solid;
  border-color: var(--gray);
  border-radius: 0.8rem 0 0 0.8rem;
}
.form__input--error {
  border-width: 0.2rem 0 0.2rem 0.2rem;
  border-color: var(--red);
}
.form__input--error::placeholder {
  color: var(--red);
}
.form__btn {
  padding: 1.2rem;
  border-radius: 0 0.8rem 0.8rem 0;
  border: none;
  background: linear-gradient(45deg, var(--blue), var(--purple), var(--red));
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #formQuery {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .form__input {
    padding: 1.6rem 2.4rem;
  }
  .form__btn {
    padding: 1.5rem;
  }
  .form__btn img {
    width: 2.4rem;
  }
}

/* ------ GIFs Section ------ */

.gifs__title {
  font-size: 1.6rem;
  margin: 1.6rem 0 1.2rem;
  text-transform: capitalize;
}
.gifs__wrapper {
  position: relative;
}
.gif {
  position: absolute;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
.gif--loading-yellow {
  background-color: var(--yellow);
}
.gif--loading-red {
  background-color: var(--red);
  animation-delay: 0.1s;
}
.gif--loading-purple {
  background-color: var(--purple);
  animation-delay: 0.2s;
}
.gif--loading-blue {
  background-color: var(--blue);
  animation-delay: 0.3s;
}
.gif--loading-green {
  background-color: var(--green);
  animation-delay: 0.4s;
}
.gif-img {
  vertical-align: top;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.gif-img--loaded {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .gifs__title {
    font-size: 2.2rem;
    margin: 2.2rem 0 1.8rem;
  }
}

/* ------ Btn ScrollToTop ------ */

#scrollToTopBtn {
  transform: translateY(20rem);
  position: fixed;
  z-index: 20;
  bottom: 2.4rem;
  right: 2.4rem;
  background: linear-gradient(45deg, var(--blue), var(--purple), var(--red));
  border: none;
  padding: 1.6rem;
  border-radius: 5rem;
  box-shadow: 0 0 2.4rem 0.8rem var(--backgroundColor);
  cursor: pointer;
  transition: all 0.5s ease;
}
#scrollToTopBtn.active {
  transform: none;
}

/* ------ Loading ------ */

#loading {
  display: none;
  justify-content: center;
  gap: 1.6rem;
  padding: 3.2rem;
}
#loading.active {
  display: flex;
}
.loading__square {
  width: 3.2rem;
  height: 3.2rem;
  background-color: red;
  animation: loading 1s ease-in-out infinite backwards;
  border-radius: 0.2rem;
}

.loading__square--yellow {
  background-color: var(--yellow);
}
.loading__square--red {
  background-color: var(--red);
  animation-delay: 0.1s;
}
.loading__square--purple {
  background-color: var(--purple);
  animation-delay: 0.2s;
}
.loading__square--blue {
  background-color: var(--blue);
  animation-delay: 0.3s;
}
.loading__square--green {
  background-color: var(--green);
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}

/* ------ 404 Page Not Found & No Results------ */

.pageNotFound, .noResultsPage {
  text-align: center;
  padding: 4.8rem 1.2rem;
  font-size: 1.6rem;
}

.pageNotFound__title{
  font-size: 7.2rem;
}
.noResultsPage__title {
  font-size: 5.4rem;
}
.pageNotFound__subtitle, .noResultsPage__subtitle {
  font-size: 3.2rem;
}

.pageNotFound__link, .noResultsPage__link {
  display: inline-block;
  margin-top: 1.6rem;
  border-radius: 0.8rem;
  color: var(--textColor);
  padding: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(45deg, var(--blue), var(--purple), var(--red));
}

@media screen and (min-width: 768px) {
  .pageNotFound, .noResultsPage {
    padding: 7.2rem 0;
    font-size: 1.8rem;
  }
  .pageNotFound__title, .noResultsPage__title {
    font-size: 10rem;
  }
  .pageNotFound__subtitle {
    font-size: 3.2rem;
  }
  .pageNotFound__link {
    font-size: 1.6rem;
  }
}
